.Gridcontainer {
    @import url('https://fonts.googleapis.com/css?family=Heebo:400,500,900');
    font-family: 'Heebo', sans-serif;
    
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr [col-end]);
    grid-template-rows: 14vh 90vh 1fr 1fr; 

    &__header {
        grid-column: col-start 1 / -1;
    }  
    &__navbox{
        padding: .5rem;
        a:link,
        :visited{
            color: #000;
            text-decoration: none;
            letter-spacing: .1rem;
        }
        a:not(:last-child){
            margin-right: 1rem;
        }
        &_logobox{
            &_logo {
               
                display: inline-block;
                width:3rem;
                height:3rem;
                align-self: center;
            }
        }
    }
}