:root {
  --mainBrown:#6d5a4e;
  --mainYellow:rgb(255, 157, 10);
  --mainGrey:rgb(255, 251, 238);
  --mainWhite:#fff;
  --mainDark:#222;
}

body {
  background: var(--mainWhite);
  color:var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Courier New', Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

.text-yellow {
  color: var(--mainYellow);
}

.cart-icon{
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}

/* BackgroundSection */

.default-background, .about-background{
  min-height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5));
  background-position: center;
  background-size: cover;
}

.btn-yellow{
  color:var(--mainYellow);
  border-color: var(--mainYellow);
  width: 200px;
  padding:10px 30px !important;
  border-radius: 120px;
}
.btn-yellow-small{
  color:var(--mainYellow);
  border-color: var(--mainYellow);
  width: 140px;
  padding:10px 30px !important;
  border-radius: 120px;
}
.btn-yellow-small:not(:last-child){
  margin-right: 25px;
}
.btn-yellow:hover, .btn-yellow-small:hover{
  color:var(--mainWhite);
  background-color: var(--mainYellow);
}

/* About hero style */

.about-background{
  min-height: calc(60vh - 64px);
}

/* Menu Page  */

.menu {
  background-color: var(--mainGrey);
}
/* Footer */

.footer {
  background-color: var(--mainBrown);
}

